openapi: 3.0.3
info:
  title: Regen Research API
  version: 0.1.0
  description: >
    Real-time research endpoints for programmatic access to search, grounded Q&A (RAG),
    embeddings, and provenance-aware streaming answers.
servers:
  - url: https://api.regen.ai/v1
    description: Production
  - url: https://staging.api.regen.ai/v1
    description: Staging
tags:
  - name: Search
  - name: Answers
  - name: Embeddings
  - name: Feedback
  - name: Metadata
paths:
  /search:
    post:
      tags: [Search]
      summary: Hybrid search across prioritized sources
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: Search results with snippets and provenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /answer:
    post:
      tags: [Answers]
      summary: Generate grounded answers with inline citations (RAG)
      description: >
        Runs hybrid retrieval + reranker + LLM synthesis, optionally streaming tokens via SSE.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnswerRequest'
      responses:
        '200':
          description: Answer payload (non-streaming mode)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnswerResponse'
        '202':
          description: Request accepted, use stream endpoint for tokens
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /answer/stream:
    post:
      tags: [Answers]
      summary: Stream tokens for a grounded answer (SSE)
      description: >
        Returns text/event-stream with token events, citation markers, and final `done` payload.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnswerRequest'
      responses:
        '200':
          description: Server-Sent Events stream
          content:
            text/event-stream:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /embed:
    post:
      tags: [Embeddings]
      summary: Generate vector embeddings for client-provided texts
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbedRequest'
      responses:
        '200':
          description: Embedding vectors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /feedback:
    post:
      tags: [Feedback]
      summary: Submit user feedback on answers or documents
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackRequest'
      responses:
        '202':
          description: Feedback accepted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /sources:
    get:
      tags: [Metadata]
      summary: List supported sources and licensing information
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Available sources and metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourcesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: APIKey
  responses:
    BadRequest:
      description: Invalid request payload
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    RateLimited:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    SearchRequest:
      type: object
      required: [q]
      properties:
        q:
          type: string
          description: Query text
        size:
          type: integer
          default: 10
          minimum: 1
          maximum: 50
        source_filters:
          type: array
          items:
            type: string
            enum: [wikipedia, news, reddit, quora, blogs, papers, enterprise]
        language:
          type: string
          description: ISO 639-1 code
        sort:
          type: string
          enum: [relevance, freshness]
          default: relevance
        from_date:
          type: string
          format: date-time
        to_date:
          type: string
          format: date-time
        page:
          type: integer
          default: 1
    SearchResult:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        snippet:
          type: string
        url:
          type: string
          format: uri
        source_type:
          type: string
        score:
          type: number
        fetched_at:
          type: string
          format: date-time
    SearchResponse:
      type: object
      properties:
        query_id:
          type: string
        results:
          type: array
          items:
            $ref: '#/components/schemas/SearchResult'
        total:
          type: integer
        latency_ms:
          type: integer
    AnswerRequest:
      type: object
      required: [q]
      properties:
        q:
          type: string
        stream:
          type: boolean
          default: false
        max_context_tokens:
          type: integer
          default: 1500
        source_filters:
          $ref: '#/components/schemas/SearchRequest/properties/source_filters'
        freshness:
          type: string
          enum: [auto, latest, canonical]
          default: auto
        user_id:
          type: string
          description: Optional end-user identifier for personalization / rate limiting
        return_documents:
          type: boolean
          default: true
    Citation:
      type: object
      properties:
        id:
          type: string
        url:
          type: string
        title:
          type: string
        snippet:
          type: string
        source_type:
          type: string
        fetched_at:
          type: string
          format: date-time
        score:
          type: number
        license:
          type: string
    AnswerResponse:
      type: object
      properties:
        answer:
          type: string
        query_id:
          type: string
        citations:
          type: array
          items:
            $ref: '#/components/schemas/Citation'
        model:
          type: object
          properties:
            name:
              type: string
            version:
              type: string
            latency_ms:
              type: integer
        provenance:
          type: array
          description: Optional list of full documents/chunks when requested
          items:
            type: object
            properties:
              id:
                type: string
              content:
                type: string
              metadata:
                type: object
    EmbedRequest:
      type: object
      required: [texts]
      properties:
        texts:
          type: array
          minItems: 1
          maxItems: 128
          items:
            type: string
        model:
          type: string
          default: embeddings-default
    EmbedResponse:
      type: object
      properties:
        model:
          type: string
        embeddings:
          type: array
          items:
            type: array
            items:
              type: number
    FeedbackRequest:
      type: object
      required: [query_id, rating]
      properties:
        query_id:
          type: string
        rating:
          type: string
          enum: [positive, negative, unclear]
        comment:
          type: string
        citation_ids:
          type: array
          items:
            type: string
    SourcesResponse:
      type: object
      properties:
        sources:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              label:
                type: string
              description:
                type: string
              license:
                type: string
              refresh_interval_minutes:
                type: integer
              status:
                type: string
                enum: [active, paused, licensed-only, beta]
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        request_id:
          type: string

